<div class="row">
    <mat-form-field class="px-5">
        <mat-label>Bloglarda Ara</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <div *ngFor="let item of blogForList" class="col-md-6 p-0">
        <mat-card class="example-card mx-5 mb-5">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{item.title}}</mat-card-title>
                <mat-card-subtitle>Yazar: <b> {{item.writerNickName}}</b></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{imagePath}}/{{item.imagePath}}" alt="Photo of a Shiba Inu">
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <button routerLink="/blog-detail/{{item.id}}" mat-button>Bloga Git &raquo;</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
        [pageSize]="pageSize" [showFirstLastButtons]="true" [pageSizeOptions]="[4,6,8]" [hidePageSize]="false"
        [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
</div>