<div class="row py-5 mx-0">
    <div class="col-4 offset-4">
        <div class="row">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Yeni Şifre</label>
                    <input formControlName="newPassword" type="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }">
                    <div *ngIf="submitted && f['newPassword'].errors" class="invalid-feedback">
                        <div *ngIf="f['newPassword'].errors['required']">Şifre girmek zorunludur</div>
                        <div *ngIf="f['newPassword'].errors['missingUpperCase']">En az bir büyük harf girmelisiniz.
                            ([A-Z])
                        </div>
                        <div *ngIf="f['newPassword'].errors['missingLowerCase']">En az bir küçük harf girmelisiniz.
                            ([a-z])
                        </div>
                        <div *ngIf="f['newPassword'].errors['missingNumber']">En az bir sayı girmelisiniz. ([0-9])</div>
                        <div *ngIf="f['newPassword'].errors['missingSpecialChar']">En az bir özel karakter girmelisiniz.
                            ([$&+,:;=?@#|'<>.^*()%!-]) </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Yeni Şifre (Tekrar)</label>
                    <input formControlName="confirmPassword" type="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                    <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors['required']">Şifre girmek zorunludur</div>
                        <div *ngIf="form.hasError('passwordsNotMatched')">
                            Şifreler eşleşmiyor
                          </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success w-100 rounded-5" >Değiştir</button>
            </form>
        </div>

    </div>
</div>