<div class="row my-5">

    <div class="offset-3 col-6">
        <h2 class="fw-bold">Blog Ekle</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3 row">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Başlık </mat-label>
                    <input formControlName="title" matInput
                        [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
                    <mat-error *ngIf="form.controls['title'].hasError('required')"> Başlık girmek zorunludur
                    </mat-error>
                    <mat-error *ngIf="form.controls['title'].hasError('minlength')"> İçerik minimum 2 karakter olmak
                        zorunludur
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-3 row">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>İçerik </mat-label>
                    <textarea formControlName="content" matInput
                        [ngClass]="{ 'is-invalid': submitted && f['title'].errors }"></textarea>
                    <mat-error *ngIf="form.controls['content'].hasError('required')">
                        İçerik girmek zorunludur
                    </mat-error>
                    <mat-error *ngIf="form.get('content').hasError('minlength')">
                        İçerik minimum 2 karakter olmak
                        zorunludur
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-3 row">
                <mat-form-field appearance="fill">
                    <mat-label>Kategoriler</mat-label>
                    <mat-select formControlName="categoryIds" multiple>
                        <mat-select-trigger>
                            <span *ngIf="(form.controls['categoryIds'].value?.length || 0) > 0"
                                class="example-additional-selection">
                                {{form.controls['categoryIds'].value.length}} adet kategori seçildi
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let category of categoryList"
                            [value]="category.id">{{category.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['categoryIds'].hasError('required')">
                        En az bir kategori seçmek zorundasınız
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-12">
                    <app-file-upload (selectedFileUrlsEvent)="getFileUrls($event)"
                        (selectedFilesEvent)="getSelectedFiles($event)" (formDataEvent)="getFormData($event)"
                        [options]="fileUploadOptions"></app-file-upload>
                    <app-image-slider [images]="selectedFileUrls" height="20rem"></app-image-slider>
                </div>
            </div>

            <div class="mb-3">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>