<mat-accordion>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title class="h4 fw-bold">
                Kategoriler
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-divider></mat-divider>

        <mat-list>
            <div *ngFor="let item of categories">

                <mat-list-item routerLink="u" style="cursor:pointer">
                    <span  matListItemTitle> {{item.name}} 
                        <span class="badge bg-primary rounded-pill">
                            {{item.blogCount}}
                        </span>
                    </span>
                </mat-list-item>

                <mat-divider></mat-divider>

            </div>
        </mat-list>

    </mat-expansion-panel>

</mat-accordion>