<div class="row py-5 mx-0">

    <div class="col-6 offset-3">
        <h2 class="fw-bold">Şifre Değiştir</h2>

        <div class="row">
            <form asp-action="ChangePassword" asp-controller="Auth" asp-area="User">
                <div class="mb-3">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Eski Şifre</mat-label>
                        <input type="password" matInput [type]="hideOldPassword ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
                            <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Yeni Şifre</mat-label>
                        <input matInput [type]="hideNewPassword ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                            <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Yeni Şifre (Tekrar)</mat-label>
                        <input matInput [type]="hideConfirmNewPassword ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hideConfirmNewPassword = !hideConfirmNewPassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmNewPassword">
                            <mat-icon>{{hideConfirmNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="mt-5 text-center"><button  class="btn btn-primary" type="submit">Değiştir</button></div>
            </form>
        </div>

    </div>
</div>