<div class="row my-5" *ngIf="writer">

    <div class="offset-3 col-6">
        <h2 class="fw-bold">Nick Değiştir</h2>

        <form (submit)="onSubmit()">
            <div class="mb-3 row">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>NickName</mat-label>
                    <input #nickName (keyup)="newNickName=nickName.value" matInput [value]="currentNickName">
                </mat-form-field>
            </div>

            <div class="mb-3">
                <input type="submit" value="Değiştir" class="btn btn-primary" />
            </div>
        </form>

    </div>


</div>