<div class="row my-5">

    <div class="offset-3 col-6">
        <h2 class="fw-bold">Kategori Düzenle</h2>

        <form asp-controller="Writer" asp-action="EditNickName" asp-area="User">
            <div class="mb-3 row">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Kategori Adı</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </div>

            <div class="mb-3">
                <input type="submit" value="Düzenle" class="btn btn-primary" />
            </div>
        </form>

    </div>


</div>